<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVO_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>126075021F6F763D00CFDDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1260751B1F6F763E00CFDDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>126075261F6F763E00CFDDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
